streamlit
numpy<2.0
pandas
plotly
yfinance
requests
beautifulsoup4
lxml

pinecone-client>=3.0.0
langchain-core
langchain-pinecone
langchain-huggingface

sentence-transformers>=2.7.0
transformers
torch
scikit-learn

groq
